
.radius{
	border-radius: 20px;
}

.flexColumn{
	display: flex;
	flex-direction: column;
}

.flex{
	display: flex;
	flex-direction: row;
}

.center{
	justify-content: center;
}

.padding{
	padding: 20px;
}

.margin{
	margin: 10px;
}

.darkshade{
	background-color: #EEEEEE;
}

#noriaki{
	max-width: 300px;
	width: 100%;
	object-fit: contain;
}

#data_viz{
	max-width: 800px;
	width: 100%;
	object-fit: contain;
}

#brand_recog{
	min-width: 200px;
	max-width: 400px;
	object-fit: contain;
}

#everybody_sad_0{
	max-height: 175px;	
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	object-fit: contain;
}

#everybody_sad_1{
	max-height: 175px;	
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	object-fit: contain;
}

@media (max-width: 600px){
	div.flex {
		flex-direction: column;
	}
}
